{% extends 'blog/base.html' %}

{% block title %}
    Change Password
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h4>Change Password</h4> 
        <hr>
        <br><br><br>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-secondary">Change Password</button>
            </form>
        </div>
    {% else %}
        <h3>You aren't logged in !</h3> <a href="{% url 'login' %}" class="text-decoration-none">login</a>
    {% endif %}
{% endblock %}