{% extends 'blog/base.html' %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    {% if not user.is_authenticated %}
        <h4>Registration</h4> 
        <hr>
        <br><br><br>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-secondary">Register</button>
            </form>
        </div>
        <br>
        Already registered? <a href="{% url 'login' %}" class="text-decoration-none">login</a>
    {% else %}
        <h3>You are already registered !</h3>
    {% endif %}

{% endblock %}